<%-include('head.ejs')%>
<br>
<body>
    <div class="container">
        <h1 class="text-center ">Admin</h1>
        <br>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col" class="text-center ">Sous categorie</th>
              <th scope="col" class="text-center ">Sous sous-catégorie</th>
            </tr>
          </thead>
          <tbody>
<tr>
              <td class="text-center "><img style="width: 120px;"src="../images/cat.png"/></td>
              <td class="text-center "><img style="width: 120px;"src="../images/souscat.jpg"/></td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td class="text-center ">  <a href="/admin/afficheSC"><button class="btn btn-danger">sous categorie</button></a></td>

              <td class="text-center ">  <a href="/admin/afficheSSC"><button class="btn btn-danger">sous Sous-categorie</button></a></td>
                        </tr>
                      </tbody>
            <thead>
              <tr>
                <th scope="col" class="text-center ">Gérer Produits</th>
                <th scope="col" class="text-center ">Gérer Utilisateurs</th>
              </tr>
            </thead>
            <tbody>
  <tr>
                <td class="text-center "><img style="width: 120px;"src="../images/produit.png"/></td>
                <td class="text-center "><img style="width: 120px;"src="../images/user.png"/></td>
              </tr>
            </tbody>
            <tbody>
                <tr>
                 <td class="text-center ">    <a href="/admin/affichepr"><button class="btn btn-danger">produits</button></a></td>
                 <td class="text-center ">    <a href="/admin/afficheuser"><button class="btn btn-danger">Utilisateurs</button></a></td>
                            </tr>
                          </tbody>
                          <thead>
                              <th scope="col" class="text-center ">Gérer Commandes</th>
                          </thead>
                          <tbody>
                    <td class="text-center "><img style="width: 120px;"src="../images/commande.png"/></td>
        
                          </tbody>
                          <tbody>
                                <td class="text-center ">  <a href="/admin/affichecommandes"><button class="btn btn-danger">Commandes</button></a></td>

                                        </tbody>
          </table>
</div>
</body>
